<html lang="en">
    <%- include('./partials/headInfo.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <%- include('./partials/IndexBanner.ejs') %>
        <%- include('./partials/IndexCont.ejs') %>
        <div class="content">
            <h2>Welcome</h2>
        </div>
        <%- include('./partials/status.ejs') %>
        </br>
        <%- include('./partials/auth.ejs') %>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>