<html lang="en">
    <%- include('./partials/headInfo.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <div>
                <%- include('./partials/IndexBanner.ejs') %>
                <%- include('./partials/IndexCont.ejs') %>
            </div>

        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
