<html lang="en">
    <%- include('./partials/headInfo.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <div>
                <%- include('./partials/IndexBanner.ejs', { query: query, selectedDatabases: selectedDatabases, user: user }) %>
                <%- include('./partials/IndexCont.ejs', { records: records, user: user }) %>
            </div>

        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
