<html lang="en">
	<%- include('./partials/headInfo.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
		<img src="/images/RecordStack.jpg" alt="" id="LoginImg">

        <section id="RegCont">

        <div class="Reg">
            <a href="/auth/exit" class="Exit">&lt; Back </a>

            <h1>Register</h1>
            <form action="/auth/new" method="POST" id="RegForm">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required></br>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required></br>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required></br>
                <input type="submit" value="Register" class="Submit">
            </form>
            <%- include('./partials/auth.ejs') %>

        </div>
        <%- include('./partials/status.ejs') %>
        </br>
    </section>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>